ADMIN_TOKEN=
PAYMENT_MODE=onchain
TOPUP_RECEIVE_ADDRESS=
BASE_RPC_URL=
ONBOARDING_ENABLED=true
DEFAULT_RECOMMENDED_TOPUP_USDC=0.01

DEV_TOPUP_ENABLED=false
ONBOARDING_DEV_AUTO_CREDIT_ENABLED=false
ONBOARDING_DEV_AUTO_CREDIT_USDC=0.01
