PORT=3000
HOST=0.0.0.0
BODY_LIMIT_BYTES=32000
REQUEST_TIMEOUT_MS=6000
RL_CAPACITY=120
RL_REFILL_PER_SEC=2
PAYMENT_MODE=file
PAYMENTS_REQUIRED=false
ORACLE_ENGINE_VERSION=0.0.1
PAY_TO=
ADMIN_TOKEN=
BASE_RPC_URL=
