{
  "openapi": "3.1.0",
  "info": {
    "title": "InterAI Risk Oracle Public API",
    "version": "0.1.3-beta",
    "description": "Public hosted API contracts for InterAI Risk Oracle, an independent pre-execution decision layer for consequential autonomous-agent actions."
  },
  "servers": [
    {
      "url": "https://api.interailabs.dev"
    }
  ],
  "paths": {
    "/verify": {
      "post": {
        "summary": "Verify an autonomous action before execution",
        "description": "Receives the autonomous_execution request contract and returns a risk score, policy result, recommended action, machine-readable signals, and trust receipt metadata.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for Bearer-billed verification so transport retries resolve to the same operation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../schemas/verify-request.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification decision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/verify-response.schema.json"
                }
              }
            }
          }
        }
      }
    },
    "/trust/receipts/{receiptId}": {
      "get": {
        "summary": "Get public receipt reference or owner-authenticated evidence",
        "description": "Without credentials returns only receipt_id and issued_at. With an active Bearer key belonging to the receipt account returns the complete receipt, signature and original opaque signed_payload. Another account receives 404; invalid, expired or revoked credentials receive 401.",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "receiptId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Privacy-aware trust receipt lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/trust-receipt-lookup.schema.json"
                }
              }
            }
          },
          "401": { "description": "Invalid, expired or revoked Bearer credential" },
          "404": { "description": "Receipt not found or not owned by the authenticated account" }
        }
      }
    },
    "/trust/verify-signature": {
      "post": {
        "summary": "Verify a trust receipt signature with the InterAI service",
        "description": "Service-side HMAC verification. Forward signed_payload unchanged; it is opaque canonical evidence and must not be parsed and reserialized before verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["receipt_id", "signed_payload", "signature"],
                "properties": {
                  "receipt_id": { "type": "string" },
                  "receipt": { "type": "object" },
                  "signed_payload": { "type": "string" },
                  "signature": { "type": "string" },
                  "signature_alg": {
                    "type": "string",
                    "const": "hmac-sha256"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["valid"],
                  "properties": {
                    "valid": { "type": "boolean" },
                    "signature_alg": { "type": "string" }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/autonomous-adoption.json": {
      "get": {
        "summary": "Get autonomous adoption contract",
        "description": "Machine-readable guidance for agents and builders deciding when and how to use InterAI before execution.",
        "responses": {
          "200": {
            "description": "Autonomous adoption contract"
          }
        }
      }
    },
    "/pricing": {
      "get": {
        "summary": "Get self-serve pricing metadata",
        "responses": {
          "200": {
            "description": "Pricing, x402, trial, and onboarding metadata"
          }
        }
      }
    },
    "/onboard": {
      "post": {
        "summary": "Create a self-serve API key account",
        "responses": {
          "200": {
            "description": "Account and API key created"
          }
        }
      }
    },
    "/demo": {
      "get": {
        "summary": "Run controlled demo walkthrough",
        "description": "Human-facing demo for creating a limited demo_trial key, running a safe read-only verification, and viewing a public trust receipt.",
        "responses": {
          "200": {
            "description": "Controlled demo page"
          }
        }
      }
    },
    "/robots.txt": {
      "get": {
        "summary": "Get crawler policy",
        "responses": {
          "200": {
            "description": "Crawler policy with sitemap location"
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Get XML sitemap",
        "responses": {
          "200": {
            "description": "Public discovery sitemap"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Get LLM discovery summary",
        "responses": {
          "200": {
            "description": "LLM-readable service summary"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
